h1 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
	font-size: 60px;
	background-color: #F3DCB5;
	background: "url(images/auditorium.jpg)" no-repeat;
	color: #505050;
}

p, li {
	font-size: 20px;
	font-family: 'Merriweather', serif;
}
